
.icon-phone:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */